<div class="page-header">
    <div class="header-wrapper">
        <header class="main-header">
            <h1>224 WDW Per Pedes</h1>
        </header>
        <nav class="main-nav">
            <ul>
                <li>
                    <a href="">ZACZNIJ TU</a>
                </li><li>
                    <a href="">O NAS</a>
                </li><li>
                    <a href="">MATERIAŁY</a>
                </li><li>
                    <a href="">GALERIA</a>
                </li><li>
                    <a href="">KONTAKT</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="header-placeholder">
