<section>
    <div class="image-contener">
        <div class="padding-contener">
            <img src="{{ image }}" alt="">
        </div>
    </div>
    <div class="text-contener">
        <div class="padding-contener">
            {{> @partial-block }}
        </div>
    </div>
</section>
